body{
background-image: url("img/i1.gif");
background-size: 100% 100%;
background-attachment: fixed;
}

p{
color: #E8E8EC;
font-family :"Segoe UI";
font-size: x-large;
}

input{
  width: 500px;
  height: 40px;
background-image: url("img/i1.gif");
color:  #E8E8EC ;
font-family :"Segoe UI";
font-size: x-large;
}
