*{
  margin: 0;
  padding: 0;
}

#Contenedor{
  width: 1350px;
  height: 1300px;
  background: #222223;
  margin: 0.5em auto;
  padding: 0.5em;

}

#Cabecera{
  width: 93%;
  height: 29%;
  margin: 1em auto;
  padding: 2.5em;
  background-image: url("img/i6.gif");
  border-radius:1em;
}

#SubMaqueta{
  height: 45%;
  width: 93%;
  background: #B2B4C4 ;
  background-image: url("img/i5.jpg");
  margin: 1em auto;
  border-radius:1em;
  padding: 2.5em ;
}

#PieDePagina{
  height: 120px;
  background-image: url("img/i3.gif");
  margin: 0.2em ;
  border-radius:1em;
  padding: 0.1em ;
}

#Menu{
  height: 105%;
  width: 30%;
  background-image: url("img/i4.gif");
  border-radius:1em;
  margin: -1em  ;
  padding: 0em ;
  float: left;
}

#Contenido{
  height: 105%;
  width: 70%;
  background-image: url("img/i3.jpg");
  border-radius:1em;
  margin: -1em  ;
  padding: 0em ;
  float: right;
}






body{
background-image: url("img/i1.png");
}
