body{
    font-family: "Montserrat", sans-serif;
    background-image:url("img/Royal.jpg") ;
}

h1{
    text-align: center;
    color: aliceblue;

}
#Contenedor{
    font-family: "Montserrat", sans-serif;
    width: 1250px;
    height: 600px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    background-image: url("img/What\ lies\ Beyond.jpg");
    border-radius: 10px;
}

#Navegacion{
    width: 400px;
    height: 580px;
    background-image: url("img/Amin.png");
    float: left;
    margin-left: 10px;;
    margin-top: 10px;
    border-radius: 10px;
    text-align: center;
}

#Contenido{
    width: 820px;
    height: 580px;
    background-image: url("img/Frost.png");
    float: right;
    margin-right: 10px;
    margin-top: 10px;
    border-radius: 10px;
    color: azure;
    text-align: center;
}

.Boton{
    font-family: "Montserrat", sans-serif;
    padding-right: 25px;
    padding-left: 25px;
    padding-top: 9px;
    padding-bottom: 9px;
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;;
    border-radius: 10px;
    background-color:#734b6d;
    color: aliceblue;
    text-decoration: dashed;
    

}
.Boton1{
    font-family: "Montserrat", sans-serif;
    padding-right: 25px;
    padding-left: 25px;
    padding-top: 9px;
    padding-bottom: 9px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    background-color:#734b6d;
    color: aliceblue;
    text-decoration: dashed;
}

#Enlace{
    text-decoration: dashed;
    color: aliceblue;
}

#Insertar{
    font-size: 20px;
}
#Insertar input[type="text"]{
    font-family: "Montserrat", sans-serif;
    width: 300px;
    height: 30px;
    color: rgb(20, 72, 117);
    font-size: 20px;
    border-radius: 10px;
}
#Insertar input[type="button"]{
    font-family: "Montserrat", sans-serif;
    width: 150px;
    height: 35px;
    background-color: rgb(20, 72, 117);
    font-size: 15px;
    border-radius: 10px;
    color: beige;
}

#Insertar input[type="submit"]{
    font-family: "Montserrat", sans-serif;
    width: 150px;
    height: 35px;
    background-color: rgb(20, 72, 117);
    font-size: 15px;
    border-radius: 10px;
    color: beige;
}

#Tabla{ 
    border-radius: 10px;
    border-collapse: collapse;
    border: #86A8E7 3px solid;
    margin: auto;
    margin-top: 10px;
    width: 99%;
    font-family: 'Montserrat', sans-serif;
    height: 95%;
    font-size: 20px;
    color: #9dbaf0;
}

th{
    background-color: #86A8E7;
    color: blue;
    text-align: center;
}

td{
    background-color: #7070c7;
    text-align: center;
}