#Contenedor{
    width: 1200px;
    height: 600px;
    background-color: aqua;
    margin: auto;
}

#Navegacion{
    width: 400px;
    height: 580px;
    background-color: blueviolet;
    float: left;
    margin: auto;
    margin-top: 10px;
    border-radius: 10px;
}

#Contenido{
    width: 790px;
    height: 580px;
    background-color: brown;
    float: right;
    margin: auto;
    margin-top: 10px;
    border-radius: 10px;
}