#contenedor 
{
	margin: 0 auto;
	text-align: center;

}
#cabeza {
	width: 900px;
	border: 1px solid;
}
#cabeza-izq{
	width: 150px;
	float: left;
}
#cabeza-cnt{
	width: 600px;
	float: left;
}
#cabeza-der{
	width: 150px;
	float: left;
}
#contenido{
	padding-left: 50px;
	width: 770px;
	float: left;
	background-color: gray;
}
#derecha {
	width: 120px;
	float:left;
	background-color: #366F91;	
}
#resultado {
	width: 770px;
	height: 400px;
	background-color: yellow;

}
#pie {
	width: 900px;
	clear: both;
	background-color: #4C9BD3;

}



#tabla{
	height: 350px;
	width: 150px;
	background-color: #333;
}
.rojo {
	color:#FF0000; 
}
.amarillo {
	color:#FFFF00;
}
.verde {
	color:#00B050;	
}
.celeste 
{
	color:#4C9BD3;
}
.azul
{
	color:#366F91;
}
.celeste-bg
{
	background-color: #4C9BD3; 
}
ul.menu {
width: 100px;
list-style: none;
margin: 0;
padding: 0;
border-left:1px solid #7C7C7C;
}

ul.menu li a:link, ul.menu li ckg a:visited {
padding: .3em;
display: block;
text-decoration: none;
color: #333;
background: #F4F4F4;
border-top:1px solid #7C7C7C;
border-right:1px solid #7C7C7C;
border-bottom:1px solid #9C9C9C;
}
ul.menu li a:hover{
	background-color: #FC0;
}

th {
	background-color: #0000FF;	
}

.celesteclaro{
	background-color:#BDE5F1;
}
.celesteoscuro{
	background-color:#8DB3E2;
}	  

/*Ejercicio 1*/
#Verde ,
#Rojo,
#Azul,
#Amarillo{
	padding: 5px;
}

#Botones{
	padding-left: 50px;
	width: 250px;
	float: left;
	background-color: #00B050;
	text-align: center;
}