body{
background-image: url("img/i2.gif");
background-size: 100% 100%;
background-attachment: fixed;
}

p{
  color: #E8E8EC;
  font-family :"Segoe UI";
  font-size: x-large;
}

h1{
  color: #E8E8EC;
  font-family :"Segoe UI";
  font-size: x-large;
}

input{
  width: 20%;
  height: 10%;
background-image: url("img/i2.gif");
color:  #E8E8EC ;
font-family :"Segoe UI";
font-size: x-large;
}

div{
  width: 50%;
  height: 10%;
  color:  #E8E8EC ;
  font-family :"Segoe UI";
}

#com{
white-space:
}

table{
  width: 50%;
height: 20%;
}
