body {
    font-family: "Montserrat", sans-serif;
    background-attachment: fixed;
    background-image: url("img/i1.jpg");
    background-size: 100% 100%;
}

#Lista{
    width: 600px;
    height: 780px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 30px;
    border-color: black;
    background-color: blueviolet;
}

h1{
    text-align: center;
    color: aliceblue;
}

h3{
    color: aliceblue;
    margin-left: 15px;
}

h4{
    color: blueviolet;
    margin-left: 33%;
    margin-right: 33%;
}

#Lista input[type="text"]{
    width: 290px;
    height: 30px;
    margin-left: 28%;
    margin-right: 28%;
    border-radius: 30px;
    font-family: "Montserrat", sans-serif;
    color: blueviolet;
    font-size: 20px;
}

#Lista input[type="button"]{
    width: 150px;
    height: 30px;
    font-family: "Montserrat", sans-serif;
    color:blueviolet;
    font-size: 18px;
    margin-left: 40%;
    margin-right: 40%;
    border-radius: 30px;
}

#Listado{
    background-color: azure;
    width: 540px;
    height: 500px;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 25px;
    border-radius: 30px;
} 

#lista{
    font-size: 19px;
    color: blueviolet;
}