body{
background-image: url("img/i7.gif");
background-size: 100% 100%;
background-attachment: fixed;
}

p{
color: #5CABDB;
font-family :"Segoe UI";
font-size: x-large;
}

input{
  width: 500px;
  height: 40px;
background-image: url("img/i7.gif");
color:  #5CABDB;
font-family :"Segoe UI";
font-size: x-large;
}
